<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque - Accueil</title>
</head>
<body>

    <h1>BIENVENUE DANS VOTRE FILMOTHEQUE
        <span th:if="${membreForm != null}" th:text="${membreForm.username}"></span>
    </h1>

    <p><a th:if="${membreForm == null}" th:href="connexion">Se connecter</a></p>
    <p><a th:if="${membreForm != null}" th:href="deconnexion">Se déconnecter</a></p>



    <p><a th:href="list">Lister les film</a></p>
    <p><a th:href="add">Ajouter film</a></p>

</body>
</html>